<!-- 
Author: Blake McGillis
Date: April 23, 2015
-->

<h1>Editing Todo List</h1>

<!-- Renders the edit_form partial -->
<%= render 'edit_form' %>

<hr/>

<div class="option-links">
    <%= link_to 'Show', @todo_list %> |
    <%= link_to 'Back', todo_lists_path %>
</div>
