<!-- 
Author: Blake McGillis
Date: April 23, 2015
-->

<h2 class="list-title">New Todo List</h2>

<!-- Render the form partial -->
<%= render 'form' %>

<hr/>

<div class="option-links">
    <%= link_to 'Back', todo_lists_path %>
</div>