<% if notice.class.name == "String" %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert.class.name == "String" %>
    <p id="alert" class="alert alert-danger"><%= alert %></p>
<% end %>

<h1>Todo List App</h1>
<p>Make lists and then check things off of them. And then delete those things and make more things, or lists.</p>

