/*
* Author: Blake McGillis
* Date: April 23, 2015
*
* Main CSS file. Primarily for bootstrap overrides and additional styles.
*/

.center-block
{
    float:none;
}

.inblock
{
    display: inline-block;   
}

.top-margin
{
    margin-top: 40px;   
}

.ten-px-margin
{
    margin:10px;      
}

.complete .fa-check
{
    color:grey;   
}

.completed .fa-check
{
    color:green;   
}

.fa-times
{
    color:red;   
}

.option-links a
{
    color: white !important;
    text-shadow: 1px 1px 5px black;   
}

a
{
    text-shadow: 1px 1px 3px grey;  
}

.jumbotron
{
    padding-top: 10px;   
    box-shadow: 1px 1px 10px rgb(137, 137, 137);
}

.list-title
{
    font-size: 45px;   
}